* {
  font-family: Garamond, Helvetica, Arial, Sans-Serif;
  padding: 0;
	margin: 0;
}

header {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr) auto;
  border-bottom: 5px solid #BCE6D3;
}

main {
}

h1 {
  color: #245735;
}

h2 {
  color: #3E965B;
}

p {
  text-align: justify;
}
